<h1>Editing product</h1>
<%= render "form", product: @product %>
<br>
<div>
  <%= link_to "Ver detalle del producto", @product, class: 'btn btn-primary' %> |
  <%= link_to "Volver a productos", products_path, class: 'btn btn-success' %>
</div>
